.gameWrapper{
  position:relative;
  width:640px;
  margin: auto;

}

@media only screen and (max-width: 480px) {
    .gameWrapper {
      -ms-transform: scale(0.5, 0.5); /* IE 9 */
  -webkit-transform: scale(0.5, 0.5); /* Safari */
  transform: scale(0.5, 0.5);
          width:30%;
        float:left;
    }
}

.gameBack{
  position: absolute;
  top:30px;
  width:640px;
  height: 640px;
  z-index:0;
  background-color: #000;
  border-radius: 310px;

}

.pad{
  width:300px;
  height: 300px;
  float:left;
  z-index: 1;
  margin:10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =60)";
  filter:alpha(opacity=60);
  opacity: 0.6;

}

.circle{
  position:absolute;
  border: 15px solid black;
  margin-left: -15px;
  margin-top:-15px;
  top:195px;
  left:195px;
  width:250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  text-align: center;
  color:black;
  z-index: 10;


}

.red{
  border-top-left-radius: 300px;
  background-color: red;
}

.blue{
  float:left;
  border-top-right-radius: 300px;
  background-color: blue;
  clear:right;

}

.yellow{
  float:left;
  border-bottom-left-radius: 300px;
  background-color: yellow;
  clear:left;

}

.green{
  float:right;
  border-bottom-right-radius: 300px;
  background-color: green;
}

.buttonRow{
  display: inline-flex;
  margin-left:10px;

}
button{
  margin: 0 10px 0 10px;
  outline:none;
}

.startButton{
  border: 1px solid black;
  width:40px;
  background-color: red;
  border-radius: 45%;

}

.restartButton{
  border: 1px solid black;
  width:40px;
  background-color: yellow;
  border-radius: 45%;

}

.labelSpan{
  margin: 0 10px 0 15px;
  font-size: 12px;
}

.counter{
  background-color: white;
  min-width: 35px;
  color:darkred;
  margin-left:43%;
  margin-right:43%;
  border-radius: 6%;
  border:2px solid black;
}

header{
  background-color: darkgrey;
  border-radius: 25px;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
